<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Usuários</h1>
        <table>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
            </tr>
            <% users.forEach(function(user) { %>
            <tr>
                <td><%= user.nome %></td>
                <td><%= user.telefone %></td>
            </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>

